{{> _parentNavBar}}
{{> _flashmsg }}
<div class="container-fluid h-100">
    <div class="row h-100">
        {{> _leftNavbarFee}}
        {{!-- right content --}}
        <div class="col-8 mt-4 ml-3" style="text-align: justify;">
            {{#if duration.payed}}
            {{> _noPayment }}
            {{else}}
            {{!-- Student Name --}}
            <h1>{{student.name}}</h1>
            <hr class="mt-4 mb-4" style="border: 2px solid black; background-color: black;">
            {{!-- Tuition Fee Information (right navbar) --}}
            <form action="" method="post">
                <div class="col-4 float-right pt-3" style="height: 600px; background-color: #C4C4C4;">
                    <h5><u>Tuition Fee Information</u></h5>
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th>Subject</th>
                                <td>Mathematics</td>
                            </tr>
                            <!-- 1 month -->
                            <tr>
                                <th rowspan="3">Payment period</th>
                                <td>
                                    <div class="form-check text-left">
                                        <input class="form-check-input" type="radio" name="periodRadios"
                                            id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            <b>1 month</b><br>{{formatDate duration.startDate 'DD MMM YYYY'}} until {{formatDate
                                            duration.endDate1 'DD MMM YYYY'}}<br>S$ 30
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="radio" name="periodRadios"
                                            id="exampleRadios2" value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                            <b>3 month</b><br>{{formatDate duration.startDate 'DD MMM YYYY'}} until {{formatDate
                                            duration.endDate3 'DD MMM YYYY'}}<br>S$ 90
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="radio" name="periodRadios"
                                            id="exampleRadios3" value="option3">
                                        <label class="form-check-label" for="exampleRadios3">
                                            <b>6 month</b><br>{{formatDate duration.startDate 'DD MMM YYYY'}} until {{formatDate
                                            duration.endDate6 'DD MMM YYYY'}}<br>S$ 180
                                        </label>
                                        <br>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5><u>Payment Procedure</u></h5>
                    <p>1. Select <b>one payment period</b> to pay.</p>
                    <p>2. Select <b>one card</b> to pay for student's tuition fee.</p>
                    <p>3. Click "Confirm" button to complete payment.</p>
                </div>
                {{!-- Cards available (left content) --}}
                <div class="container">
                    {{#if cards}}
                    <div class="card card-body overflow-auto" style="height: 600px;">
                        {{#each cards}}
                        <input type="radio" name="tuition_card" id="{{id}}" style="display: none;"
                            onchange="ensureOneInput({{id}}, 'tuition_card')">
                        <label for="{{id}}">
                            <div class="card mb-2 w-100 mx-auto" style="border: .3rem solid #C4C4C4;"
                                id="border_line{{id}}">
                                <div class="card-header" style="background-color: #9BD6EB;">
                                    <span class="check_btn" id="icon_bg{{id}}"><i class="fas fa-check"></i></span>
                                    <h5 class="card-title">{{cardName}}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <p class="font-italic">Card Number</p>
                                            <p class="text-info">{{cardNo}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="font-italic">Type</p>
                                            <p class="text-info">{{debitCredit}}</p>

                                        </div>
                                        <div class="col-3">
                                            <p class="font-italic">Expiry Date</p>
                                            <p class="text-info">{{formatDate expiryDate 'MMM YYYY'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        {{/each}}
                        <button id="tuition_submit" type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                    {{else}}
                    <div class="text-center">
                        <h3>No payment card saved</h3>
                        <a class="btn btn-info text-white rounded mt-2" href="/card/addCard">Add payment card</a>
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var flag = 0;
    function ensureOneInput(myId, inputName) {
        if (myId != flag) {
            const myIcon = document.getElementById('icon_bg' + myId);
            const myBorder = document.getElementById('border_line' + myId);
            myIcon.style.backgroundColor = '#15ee15';
            myBorder.style.borderColor = '#15ee15';

            if (flag != 0) {
                const myIcon1 = document.getElementById('icon_bg' + flag);
                const myBorder1 = document.getElementById('border_line' + flag);
                myIcon1.style.backgroundColor = '#C4C4C4';
                myBorder1.style.borderColor = '#C4C4C4';
            }

            flag = myId;
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>