<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #96D4D4;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 creationNav mx-2 my-2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-dark" href="/student/content"><i
                        class='fas fa-angle-left'></i></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        {{#with data.tut}}
        <a class="navbar-brand mx-auto" href="#">Results for {{tutName}}</a>
        {{/with}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".creationNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 creationNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4 p-4 rounded-lg" style="background-color: #282A35;">
    <form action="" method="post" class="needs-validation" novalidate>
        <div class="container p-3 mb-4 bg-light rounded-lg qn1">
            <div class="text-center mt-2">
                <h5>Total Score: {{data.score}}</h5>
            </div>
        </div>
        {{#with data.tut}}
        {{#if qns}}
        {{#each qns}}
        <div class="container p-4 mb-4 bg-light rounded-lg qn1">
            <div class="row">
                <div class="col d-flex align-items-center mt-2">
                    <h5>Question {{qnOrder}}</h5>
                </div>
            </div>
            <hr class="my-3 border border-dark" />
            <p class="lead">{{question}}</p>
            {{#if qnOption}}
            {{#with qnOption}}
            <fieldset class="form-group row" name="{{qnOrder}}">
                <div class="col-10">
                    <div class="col-10">
                        {{!-- Answer 1 --}}
                        {{#when "1" 'eq' ../answer.input}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label text-danger" for="option1">
                                {{ans1}}
                            </label>
                        </div>
                        {{else}}
                        {{#when "1" 'eq' ../answer.ans}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1" checked>
                            <label class="form-check-label text-success" for="option1">
                                {{ans1}}
                            </label>
                        </div>
                        {{else}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label" for="option1">
                                {{ans1}}
                            </label>
                        </div>
                        {{/when}}
                        {{/when}}
                        {{!-- Answer 2 --}}
                        {{#when "2" 'eq' ../answer.input}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label text-danger" for="option1">
                                {{ans2}}
                            </label>
                        </div>
                        {{else}}
                        {{#when "2" 'eq' ../answer.ans}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1" checked>
                            <label class="form-check-label text-success" for="option1">
                                {{ans2}}
                            </label>
                        </div>
                        {{else}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label" for="option1">
                                {{ans2}}
                            </label>
                        </div>
                        {{/when}}
                        {{/when}}
                        {{!-- Answer 3 --}}
                        {{#when "3" 'eq' ../answer.input}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label text-danger" for="option1">
                                {{ans3}}
                            </label>
                        </div>
                        {{else}}
                        {{#when "3" 'eq' ../answer.ans}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1" checked>
                            <label class="form-check-label text-success" for="option1">
                                {{ans3}}
                            </label>
                        </div>
                        {{else}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label" for="option1">
                                {{ans3}}
                            </label>
                        </div>
                        {{/when}}
                        {{/when}}
                        {{!-- Answer 4 --}}
                        {{#when "4" 'eq' ../answer.input}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label text-danger" for="option1">
                                {{ans4}}
                            </label>
                        </div>
                        {{else}}
                        {{#when "4" 'eq' ../answer.ans}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1" checked>
                            <label class="form-check-label text-success" for="option1">
                                {{ans4}}
                            </label>
                        </div>
                        {{else}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="option1" value="1">
                            <label class="form-check-label" for="option1">
                                {{ans4}}
                            </label>
                        </div>
                        {{/when}}
                        {{/when}}
                    </div>
                </div>
            </fieldset>
            {{/with}}
            {{else}}
            <fieldset class="form-group row">
                <div class="col-10">
                    {{#if answer}}
                    {{#with answer}}
                    {{#if input}}
                    <label for="ans" class="col-form-label h4 text-danger">Your Answer:</label>
                    <textarea type="text" class="form-control text-danger" id="ans" name="{{id}}"
                        required>{{input}}</textarea>
                    <label for="ans" class="col-form-label h4 text-success">Correct Answer:</label>
                    <textarea type="text" class="form-control text-success" id="ans" name="{{id}}"
                        required>{{ans}}</textarea>
                    {{else}}
                    <label for="ans" class="col-form-label h4 text-success">Your Answer:</label>
                    <textarea type="text" class="form-control text-success" id="ans" name="{{id}}"
                        required>{{ans}}</textarea>
                    {{/if}}
                    {{/with}}
                    {{/if}}
                </div>
            </fieldset>
            {{/if}}
        </div>
        {{/each}}
        {{else}}
        <div class="container p-4 mb-4 bg-light rounded-lg qn1">
            <h5 class="mt-1">No questions added.</h5>
        </div>
        {{/if}}
        {{/with}}

        <div class="d-flex justify-content-end submit">
            <a href="/student/content"><button type="button" class="btn btn-outline-light">Exit</button></a>
        </div>
    </form>
</div>